@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar-1-1.navbar-light .navbar-nav .nav-link {
  color: #092a33;
  transition: 0.3s;
}

.navbar-1-1.navbar-light .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-1-1 .btn-get-started {
  border-radius: 20px;
  padding: 12px 30px;
  font-weight: 500;
}

.navbar-1-1 .btn-get-started-blue {
  background-color: #0ec8f8;
  transition: 0.3s;
}

.navbar-1-1 .btn-get-started-blue:hover {
  background-color: #3ad8ff;
  transition: 0.3s;
}
