@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

//Navigation Area 
.head__custom-nav {
    .navbar-brand {
        img {
            width: 18px;
            height: 18px;
        }
        span {
            font-weight: 700;
            font-size: 22px;
            margin-left: 10px;
        }
    }

    button {
        padding: 0;
        span {
            img {
                width: 45px;
            }
        }
    }

    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #000;
                    font-weight: 400;
                    padding: 8px 15px;
                    white-space: nowrap;
                    transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

                    &:hover {
                        color: lightcoral;
                    }
                }
            }
        }
    }
}

//Section Area
.custom-section {
    width: inherit;
    padding: 40px 0;
    @media screen and (max-width: 991.98px){
        flex-direction: column-reverse;
    }
    .col-lg-4 {
        margin-top: 100px;
        h2 {
            font-weight: 700;
            font-size: 63px;
            color: #000;
            margin-bottom: 0;
            line-height: 1;
            white-space: nowrap;
        }

        h3 {
            font-weight: 300;
            font-size: 64px;
            color: #000;
            line-height: 1;
        }
        p{
            color: #000;
            font-size: 14px;
            margin-top: 30px;
        }

        a{
            display: inline-block;
            padding: 8px 22px;
            color: #fff;
            background-color: #1EA5F7;
            border: 1px solid transparent;
            margin-top: 60px;
            text-decoration: none;
            transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

            &:hover {
                color: #1EA5F7;
                background-color: #fff;
                border: 1px solid #1EA5F7;
            }
        }


    }
    .col-lg-8 {
        img {
            width: 100%;
            position: absolute;
            top: -14rem;
            right: -11%;

            @media screen and (max-width: 991.98px){
                width: 100%;
                position: relative;
                top: 0;
                right: 0;
            }
        }    
        
        .animate-img {
            img {
                width: 118px;
                position: absolute;
                top: -13.5rem;
                right: 2.9rem;
            }
        }
    }
}